<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>
      Ionic Currency Input
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" >
  <form #form="ngForm">
    <ion-list lines="none" class="ion-no-margin ion-no-padding">
        <ion-item>
            <ion-label position="stacked">Enter Amount</ion-label>
            <ion-input placeholder="$0.00" inputmode="decimal" [(ngModel)]="entry" name="amount"></ion-input>
        </ion-item>
        <ion-item>
            <ion-text color="tertiary">User entered {{ entry }}</ion-text>
        </ion-item>
    </ion-list>
    <ion-toolbar>
      <ion-button color="danger" type="submit" [disabled]="!form.valid || !entry">Done</ion-button>
    </ion-toolbar>
  </form>
</ion-content>
